<div>Prijava korisnika</div>

<form method="post" action="/users/signin">
    <label for="email">E-mail adresa</label>
    <input type="email" name="email" maxlength="100" required="" />
    <br />
    <label for="password">Zaporka</label>
    <input type="password" name="password" required="" />
    <br />
    <input type="submit" value="Potvrdi" />
</form>